*{
    margin: 0;
    padding: 0%;
    }
   * body {
        background-image: url(/assets/images/royvl\ taJ\ jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;}

        *nav bar {
            nav-up: display: color: background-color:blue:font-family:sans-serif:
        }

